* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
}

body {
  position: relative;
  background: url(img/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
    transition: all 0.5s;
}

img {
  max-width: 100% !important;
}

a {
  outline: 0;
  text-decoration: none;
  color: #42949B;
}

a:hover {
  color: #C4C4C4;
}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #727271;
}

.text-title {
  display: flex;
  color: #2F3366;
  font-weight: 300;
  font-size: 72px;
  line-height: 86px;
  text-transform: uppercase;
  margin-bottom: 41px;
}

.text-title-b {
  color: #42949B;
  font-weight: bold;
}

.text-title-b-indent {
  color: #42949B;
  font-weight: bold;

}


@media (max-width: 768px) {
  .text-title {
    font-size: 40px;
    line-height: 61px;
  }
}

@media (max-width: 480px) {
  .text-title {
    font-size: 30px;
    line-height: 36px;
  }
}



h4 {
  font-size: 15px;
  line-height: 18px;
  color: #0A1C3D;
}

.top {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 140px;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0.8);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  background: url(img/logo.png);
  background-size: contain;
  width: 120px;
  height: 120px;
  margin: 10px 0px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1280px) {
  .container {
    padding: 0px 35px;
  }
}

.news {
  position: relative;
  right: 64px;
  height: 18px;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-lang {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 137px; */
  /* height: 34px; */
  top: 53px;
  color: #42949B;
}

.line {
  display: block;
  background-color: #E5E5E5;
  width: 1px;
  height: 34px;
  margin: 0px 14px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

@media (max-width: 768px) {

  .top {
    height: 100px;
  }
  .nav-logo {
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .news {
    right: 10px;
  }
  /* .nav-bar {
    display: flex;
    align-items: center;
  } */

  .nav-lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line {
    display: none;
  }

}


header {
  display: block;
  position: relative;
  min-width: 1100px;
  min-height: 539px;
  margin-top: 140px;
}

.ukr-dev {
  position: absolute;
  width: 486px;
  height: 135px;
  background-image: url(img/ukr-dev.svg);
  margin: 103px 0px 0px 0px;
  /* background: linear-gradient(180deg, #0098DF 0%, #38ACE2 38.84%, #EAD200 87.24%, #FFC700 108.06%);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25); */
}

.widget-3d-model {
  position: absolute;
  min-width: 1050px;
  min-height: 559px;
  left: 428px;
  top: 0px;
  background: url(img/3d-model.png) no-repeat top right;
}

.btn-click-twist {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  width: 210px;
  height: 60px;
  left: 145px;
  bottom: 75px;
}

.btn-twist-border {
  width: 54px;
  height: 54px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
}

.btn-twist-img {
  padding: 7px;
}

.btn-twist-text {
  color: #42949B;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 14px;
}

.rectangle {
  width: 10px;
  height: 10px;
  background: linear-gradient(135deg, #42949B 4.18%, #355779 92.56%, #30406C 92.57%);
  border-radius: 2px;
  transform: rotate(45deg);
  margin-right: 10.86px;
}

.head-text {
  position: absolute;
  margin-top: 392px;
  display: grid;
  align-content: space-between;
  width: 465px;
  height: 92px;
}

.head-text-item {
  display: flex;
  align-items: baseline;
}

.head-text-style {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  flex-direction: column;
}

.text-gray {
  color: #7b797e;
}

.advantage {
  min-width: 290px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 126px;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
  box-sizing: border-box;
  align-items: center;
  width: 255px;
  height: 208px;
  background: linear-gradient(139.85deg, rgba(54, 130, 138, 0.75) 14.94%, rgba(48, 64, 108, 0.75) 89.2%);
  border-radius: 15px;
  text-align: center;
  margin-right: 30px;
  margin-bottom: 30px;
}

.advantage-item:last-child {
  margin: 0px;
}

.advantage-item__title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin: 0px 50px 0px 50px;
}

.advantage-item__img {
  display: flex;
}

.advantage-item__info {
  width: 100%;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

@media (max-width: 1280px) {
  .advantage-item {
    width: 210px;
  }
}

@media (max-width: 1060px) {
  .advantage {
    max-width: 650px;
  }

  .advantage-item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media (max-width: 640px) {
  .advantage {
    max-width: 290px;
  }

  .advantage-item {
    width: 130px;
  }

  .advantage-item__title {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 10px;
  }

  .advantage-item__info {
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
  }
}
.figure{
  background: url(img/specifications-figure.png) no-repeat;
  background-position: top;
  background-size: contain;
  margin: 0 auto;
  width: 180px;
  height: 42px;
  margin-bottom: 42px;
}

.figure-case {
  background-color: #FFFFFF;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 440px;
  height: 600px;
  border-radius: 30px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 24px;
}


.figure-title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #30406C;
  margin-bottom: 28px;
}


.collapse.in {
  display: block;
}

.collapse {
  display: none;
}

.panel {
  background: none;
  box-shadow: none;
}

.panel-heading {
  background-color: #fff;
  border-bottom: 1px #727271 solid;
  margin-bottom: 10px;
  margin-top: 16px;
}

.panel-title a {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #36828A;
  padding-bottom: 5px;
  position: relative;
}

.panel-body {
  display: block;
  background: #fff;
  overflow: hidden;
}

.panel-body p {
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 26px;
  color: #30406C;
  box-shadow: inset 0px -1px 0px 0px #C4C4C4;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 3px;
  height: 24px;
}

.panel-body span {
  float: right;
  width: 42%;
  font-weight: 300;
  font-size: 18px;
  color: #434242;
}

.panel-heading a:before {
  background: url(img/arrow.png) no-repeat;
  width: 14px;
  height: 7px;
  right: 1px;
  position: absolute;
  transition: all 0.5s;
  transform: scale(1);
}

.panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}
#accordion .panel-heading a:before {
  content: ' ';
  transform: rotate(-180deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  content: ' ';
  transform: rotate(0deg);
  transition: all 0.5s;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility
}



@media (max-width: 1200px) {
  .figure{
    width: 150px;
    height: 34px;
    margin-bottom: 30px;
  }

  .figure-case {
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 24px;
  }
  .figure-title {
    font-size: 22px;
    line-height: 24px;
  }

.panel-title a {
      line-height: 25px;
    }
}


@media (max-width: 768px) {
  .figure{
    width: 120px;
    height: 26px;
    margin-bottom: 18px;
  }

  .figure-case {
    min-width: 290px;
  }

  .figure-title {
    font-size: 20px;
    line-height: 24px;
  }
  .panel-heading {
      margin-top: 18px;
    }

  .panel-title a {
        line-height: 26px;
      }
}

.plane {
  background: url(img/plane.png) no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: auto;
  max-width: 635px;
  max-height: 600px;
  margin-left: 35px;
}

/* @media (max-width: 1024px) {
  .plane {
  width: 50%;
  }
} */
@media (max-width: 768px) {
  .plane {
    display: none;
  }
}

.unique-benefits {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.row {
  margin: 0 auto;
}

.team-text {
  margin-bottom: 60px;
}

.team-text p {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  margin-bottom: 10px;
  color: #727271;
}

.team-text span {
  color: #000000;
}

.card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  border-top: 10px solid #E5E5E5;
  min-width: 255px !important;
  height: 380px;
  transition: all 0.5s;
  text-align: center;
  color: #000000;
  cursor: pointer;
  margin-right: 30px !important;
  box-sizing: border-box;
}

.card-item:hover {
  position: relative;
  border-top: 10px solid #36828A;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.teams-card {
  display: flex;
  justify-content: center;
}

.teams-card-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px auto;
}

.teams-card-name {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.teams-card-position {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.teams-card-info {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.item-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 214px;
  height: 40px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 100px;
}

.item-nav a {
  color: #727271;
}

.item-nav a:hover {
  color: #30406C;
}

.item-nav-line {
  background-color: #30406C;
  width: 1px;
  height: 40px;
  margin: 0px 30px;
}

.item-nav-prev {
  background: url(img/item-nav-arrow.png) no-repeat;
  width: 6px;
  height: 13px;
  transform: rotate(180deg);
  margin-right: 20px;
}

.item-nav-next {
  background: url(img/item-nav-arrow.png) no-repeat;
  width: 6px;
  height: 13px;
  margin-left: 20px;
}

.news-cards {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 100px;
  padding-bottom: 20px;
}

.news-cards .card-item {
  position: relative;
  justify-content: space-between;
}

.btn-pos{
  display: flex;
  justify-content: start;
}
.btn {
  position: relative;
  border: none;
  outline: none;
  width: 160px;
  height: 40px;
  background: #36828A;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 12px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: all 0.5s;
}

.btn:hover {
  background: #355779;
  transition: all 0.5s;
  cursor: pointer;
}

.card-item .btn {
  position: absolute;
  bottom: -10px;
  right: 5px;
  text-align: right;
}

.card-item .btn {
  display: none;
}

.card-item:hover .btn {
  display: block;
}

.news-img {}

.news-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 168px;
  margin-top: 19px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 33px;
  text-align: left;
}

.news-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #36828A;
  margin-bottom: 5px;
}

.news-date {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #2F3366;
  margin-bottom: 15px;
}

.news-info {
  width: 228px;
  height: 71px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #434242;
}

/* p social */
.social p{
  padding-bottom: 31px;
  font-size: 18px;
line-height: 22px;
}

.community-social {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.community-social .figure-case {
  width: 440px;
  height: 440px;
  text-align: center;
  box-shadow: none;
  transition: all 0.5s;
}

.community-social .figure-case:first-child {
margin-right: 35px;
}



.community-social .figure-case:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.community-social-info {
  height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 20px 0px;
}

.community-social-info p {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #434242;
}

.community-social-info a {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #42949B;
}

.community-social-info a:hover {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #355779;
}

.question {
  margin-bottom: 100px;
}

  .question .text-title {
    display: flex;
    flex-wrap: wrap;
    }


.question p {
  padding-bottom: 32px;
}

.group {
  position: relative;
  margin-top: 35px;
  width: 100%;
}

.group input {
  box-sizing: border-box;
  background: none;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #30406C;
}

.group input:focus {
  outline: none;
}

.group label {
  color: #0A1C3D;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.group label span {
  color: #42949B;
}

/* active state */
.group input:focus~label, .group input:valid~label {
  top: -20px;
  font-size: 14px;
  color: #42949B;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #42949B;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
.group input:focus~.bar:before, .group input:focus~.bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #42949B;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #42949B;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #42949B;
  }

  to {
    width: 0;
    background: transparent;
  }
}

.group-col {
  width: 100%;
  height: auto;
}

.group-col-3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}


@media (max-width: 640px) {

.group-col-3{
flex-wrap: wrap;
}
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: normal;
  user-select: none;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: #727271;
  margin-bottom: 10px;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 0.5em;
  background: #E5E5E5;
  border: 2px solid #36828A;
  box-sizing: border-box;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  margin-right: 15px;
}

.custom-checkbox+label a {
      display: contents;
  margin: 0px 5px;

}

.custom-checkbox+label a:hover {
  color: #355779;
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #355779;
}

.custom-checkbox:not(:disabled):active+label::before {
  background-color: #355779;
  border-color: #355779;
}

.custom-checkbox:focus+label::before {}

.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #355779;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
  border-color: #355779;
  background-color: #355779;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}

.checkbox-position {
  margin-top: 20px;
  margin-bottom: 20px;
}

.gallery-img-pos{
  background-color: aquamarine;
      margin: 0 auto;
      flex-wrap: wrap;
      width: 100%;
      height: 380px;
      overflow: hidden;
}
.fancybox-lock{
    margin-right:0 !important;
}
.gallery {
  margin-bottom: 100px;
}

.gallery .text-title {
  margin-bottom: 28px;
}

/* large img */
.img-l {
  object-fit: cover;
  width: 360px;
  height: 186px;
}

/* small image */
.img-s {
  object-fit: cover;
  width: 178px;
  height: 186px;
}

.swiper-container-teams-card {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  padding-bottom: 20px;
}

.swiper-container-news-cards {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  padding-bottom: 20px;
}

footer {
  width: 100%;
  background: #2C2932;
}

.footer-map-line {
  background: linear-gradient(90deg, #36828A 0%, #201E5F 100%);
  height: 5px;
}

.footer-map {
  background: url(img/map.png) no-repeat center top / cover;
  width: 100%;
  height: 300px;
}

@media (max-width: 480px) {
  .footer-map-line {
    display: none;
  }
}

@media (max-width: 480px) {
  .footer-map {
    display: none;
  }
}

.footer-nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 94px;
}

.footer-nav .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer p {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 14px;
  color: #D2C9CE;
}

.footer-soc-links {
  display: flex;
  align-items: center;
}

.footer-soc-links {}

.footer-nav-link {
  width: 32px;
  height: 32px;
  margin: 0px 15px;
  transition: all 0.5s;
}

@media (max-width: 640px) {
footer p{
  font-size: 8px;
line-height: 10px;
}
footer img{
  width: 50px;
  height: 50px;
}
  .footer-nav-link {
    margin: 0px 12px;
  }
}

.nav-fb {
  background: url(img/icons/nav-fb.png) no-repeat;
}

.nav-fb:hover {
  background: url(img/icons/nav-fb-h.png) no-repeat;
}

.nav-yt {
  background: url(img/icons/nav-yt.png) no-repeat;
}

.nav-yt:hover {
  background: url(img/icons/nav-yt-h.png) no-repeat;
}
